# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cmake
*.png
*.make
*.sh
*.zsh
*.log
*.txt
*.json
*.svg
*.csv
*.npy
*.cv
*.pyc
*.bash
.vscode/**
build/**
figures/**
notebooks/**
src/.vscode/**
src/v2/.vscode/**
*.pkl

